body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #19456f;
}

textarea {
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%; 
  line-height: 20px; 
  font-size: 17px;
  border: 1px solid #bbb;
  font-family: Arial, Helvetica, sans-serif;
}
.CollapsiblePanelTab {
 -webkit-appearance: none; 
 -moz-appearance: none;
 display: block;
 margin: 1.5em 0;
 margin-bottom:0px;
 font-size: 1em !important; 
 line-height: 2.5em !important;
 color: #333 !important;
 font-weight: bold;
 height: 2.5em !important; 
 width: 100%;
 background: #fdfdfd; 
 background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); 
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); 
 background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); 
 background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); 
 background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); 
 background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
 border: 1px solid #bbb !important;
 -webkit-border-radius: 5px; 
 -moz-border-radius: 5px; 
 border-radius: 5px;
}

a.add-sign{
	font-size:32px;
	color:#FFF;
	text-decoration:none;
}

a.add-sign:hover{
	color:#bdd1e5;
}

.new-image {
	background: #19456f; /* Old browsers */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	border: none;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	line-height: 30px !important;
	width: calc(100% - 10px);
	height: 40px;
	margin-top: 10px;
	margin-left: 10px;
	cursor:pointer;
}

.new-image:hover{
	color:#F00 !important;
}

.btn-flat {
	background: #19456f; /* Old browsers */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	border: none;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	line-height: 2.5em !important;
	width: calc(100% - 0px);
	margin-top: 10px;
}

#banner-error {
	background-color: #DDEAF7;
	border: 2px solid #1A446F;
	
	background-image: url(../images/icons/error.png);
	padding-top: 34px;
	padding-right: 20px;
	padding-bottom: 34px;
	padding-left: 60px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5 px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px;
	background-repeat: no-repeat;
	background-position: 15px center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 50px;
	margin-left: 0px;
	line-height: 20px;
	text-transform: capitalize;
}

.tab-flat {
	background: #19456f; /* Old browsers */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	border: none;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	line-height: 2.5em !important;
	width: calc(100% - 10px);
	margin-top: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow:hidden;
	margin-left:5px;
	margin-right:5px;
}

.tab-flat-sub {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	border: none;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	line-height: 2.5em !important;
	width: calc(100% - 10px);
	margin-top: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #4272A0;
}

.btn-new {
	background: #18519b; /* Old browsers */
	background: -moz-linear-gradient(top,  #18519b 0%, #3c87c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#18519b), color-stop(100%,#3c87c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #18519b 0%,#3c87c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #18519b 0%,#3c87c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #18519b 0%,#3c87c4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #18519b 0%,#3c87c4 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18519b', endColorstr='#3c87c4',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	border: none;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	line-height: 2.5em !important;
	width: calc(100% - 0px);
}

.btn-new2 {
	background: #18519b; /* Old browsers */
	background: -moz-linear-gradient(top,  #18519b 0%, #3c87c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#18519b), color-stop(100%,#3c87c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #18519b 0%,#3c87c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #18519b 0%,#3c87c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #18519b 0%,#3c87c4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #18519b 0%,#3c87c4 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18519b', endColorstr='#3c87c4',GradientType=0 ); /* IE6-9 */
	/* [disabled]-webkit-border-radius: 5px; */
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	border: none;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	line-height: 2.5em !important;
	width: calc(100% - 20px);
}

.td-search {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #004D80;
	border: 1px solid #A4DBFF;
	padding-left: 5px;
	font-weight: bold;
	padding-right: 5px;
	background-color: #D9F0FF;
}

#list-border{
	border: 1px solid #DDDDDD;
	padding: 1px;
}

.td-left {
	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	text-transform: capitalize;
	color: #818284;
	background-color: #f7f7f7;
	border: 1px solid #DFDFDF;
	padding-left: 5px;
	font-style: italic;
}

.td-right {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	/* [disabled]text-transform: capitalize; */
	color: #818284;
	border: 1px solid #DFDFDF;
	padding: 5px;
	background-color: #FFF;
}

.td-right-odd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	/* [disabled]text-transform: capitalize; */
	color: #818284;
	border: 1px solid #DFDFDF;
	padding: 5px;
	background-color: #F2F2F2;
}

.tarea-100 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #808185;
	width: 100%;
	border-top-style: none !important;
	border-right-style: none !important;
	border-bottom-style: none !important;
	border-left-style: none !important;
	outline:none;
	resize: none;
	background:none;
}

	#logo {
		margin-bottom: 40px;
		margin-top: 20px;
		text-align: center;
	}

.tfield {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #19456f;
	margin-top: 10px;
	border: 1px solid #19456f;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	display: inline-block;
	text-decoration: none;
	width: calc(100% - 0px);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/* [disabled]box-sizing: border-box; */
	overflow: hidden;
}

.radio-field {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #19456f;
	margin-top: 10px;
	border: 1px solid #19456f;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-decoration: none;
	width: calc(100% - 0px);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/* [disabled]box-sizing: border-box; */
	overflow: hidden;
}

.tfield-dd {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #19456f;
	margin-top: 10px;
	border: 1px solid #19456f;
	padding-top: 9px;
	padding-right: 10px;
	padding-bottom: 9px;
	padding-left: 10px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	width: calc(100% - 0px);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow:hidden;
}

.td-grey {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	font-weight: bold;
	text-transform: capitalize;
	color: #818284;
	background-color: #f7f7f7;
	border: 1px solid #DFDFDF;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	margin-top: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	width: calc(100% - 20px);
}

.td-header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;
	font-weight: bold;
	text-transform: capitalize;

	background: #19456f; /* Old browsers */

	padding-left: 10px;
	color: #FFF;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
}

.td-sub-header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;
	font-weight: bold;
	text-transform: capitalize;
	background: #77a0c7; /* Old browsers */
	padding-left: 10px;
	color: #FFF;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	border: 1px solid #6391BE;
}

.td-sub-header2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;
	font-weight: bold;
	text-transform: capitalize;
	background: #4272a0; /* Old browsers */
	padding-left: 10px;
	color: #FFF;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	border: 1px solid #6391BE;
}

.td-sub-sub-header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;
	font-weight: bold;
	text-transform: capitalize; /* Old browsers */
	padding-left: 10px;
	color: #19456F;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	background-color: #bdd1e5;
	border: 1px solid #ABC5DE;
}

.td-sub-sub-header-padding {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;
	font-weight: bold;
	text-transform: capitalize; /* Old browsers */
	color: #19456F;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0;
	padding-bottom: 0px;
	background-color: #bdd1e5;
	border: 1px solid #ABC5DE;
}

.td-header-no-padding{
	padding-left:0 !important;
	padding-right:0 !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
	
	background: #19456f; /* Old browsers */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	border: none;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	line-height: 2.5em !important;
	width: calc(100% - 20px);
	margin-top: 10px;
	text-align:center;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
	
	
}

#banner-success {
	background-color: #DDEAF7;
	background-image: url(../images/icons/success.png);
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 60px;
	border: 2px solid #1A446F;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5 px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px;
	background-repeat: no-repeat;
	background-position: 15px center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	line-height: 20px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#banner-info {
	background-color: #D9F0FF;
	background-image: url(../images/icons/info.png);
	padding-top: 34px;
	padding-right: 20px;
	padding-bottom: 34px;
	padding-left: 60px;
	border: 2px solid #004D80;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5 px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px;
	background-repeat: no-repeat;
	background-position: 15px center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 50px;
	margin-left: 0px;
	line-height: 20px;
	text-transform: capitalize;
}

.even {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #818286;
	background-color: #F3F3F3;
	border: 1px solid #DFDFDF;
}
.odd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #818286;
	background-color: #F9F9F9;
	border: 1px solid #DFDFDF;

}
.over {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #004D80;
	background-color: #E1E1E1 !important;
	border: 1px solid #DFDFDF;
}

img, object{
    max-height:100%;
    max-width:100%;
}

.float-left-clear{
	float: left;
	display: block;
	padding-bottom: 0;
	padding-right: 0px;
	margin-top: 10px;
	padding-top: 0;
	padding-left: 0;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

img, object{
	max-height:100%;
	max-width:100%;
}

.img{
	max-width: 175px;
}

.icon-container{
	float: left;
	display: block;
	width: calc(20% - 2px);
	margin: 1px;
	overflow: hidden;
	background-color: #19446F;
	text-align:center;
}

.icon-container > a{
	text-align:center;
}

.field-container{
	width:calc(50% - 10px);
	float:left;
	margin-left:5px;
	margin-right:5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow:hidden;
}

.field-container-address{
	width:calc(100% - 10px);
	float:left;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow:hidden;
}


.field-container-comments{
	width:calc(100% - 10px);
	float:left;
	margin-left:5px;
	margin-right:5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow:hidden;
}

.field-container-last-1{
	width:calc(50% - 10px);
	float:left;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow:hidden;
}

.field-container-last-2{
	width:calc(50% - 10px);
	float:left;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow:hidden;
}


.history-bg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #bdd1e5;
	background-color:#dbe8f4;
	color:#004c7f;
	padding-left:3px;
	padding-right:3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-right:3px;
}

.history-bg-con {
	margin-right:3px;
}

a.sm-bar{
	height:30px;
	width:100%;
	display:block;
	color:#FFF;
	text-decoration:none;
}

a.edit {
	background-image:url(../images/icons/edit.png);
	width:20px;
	height:20px;
	display:block;
	border:none;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
}
a.edit:hover {
	background-position: center 20px;
}

a.delete {
	background-image: url(../images/icons/delete.png);
	width: 20px;
	height: 20px;
	display: block;
	border: none;
	overflow: hidden;
	padding: 0px !important;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
a.delete:hover {
	background-position: center 20px;
}


a.expand {
	background-image:url(../images/icons/expand.png);
	width:20px;
	height:20px;
	display:block;
	border:none;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
}
a.expand:hover {
	background-position: center 20px;
}

a.icon-pdf {
	background-image:url(../images/icons/icon-pdf.png);
	width:20px;
	height:20px;
	display:block;
	border:none;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
}

.red-title{
	color:#FF0000;
	font-size:20px;
}

@media screen and (max-width: 768px) {
	
	.icon-container{
		
		float:left;
		display:block;
		width:33%;
	}
	
	.char-limit{
		white-space: nowrap;
		width: 150px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
}

@media screen and (max-width: 614px) {
	
	.icon-container{
		
		float:left;
		display:block;
		width:calc(33% - 2px);
	}
	
}

@media screen and (max-width: 375px) {
		
	.icon-container{
		
		float:left;
		display:block;
		width:calc(50% - 2px);
	}
	
	.field-container{
		width:calc(100% - 10px);
		float: none;
		margin-left:5px;
		margin-right:5px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		overflow:hidden;
	}
	
	.field-container-last-1{
		width:calc(100% - 10px);
		float: none;
		margin-left:5px;
		margin-right:5px;
		margin-bottom:0px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		overflow:hidden;
	}
	
	.field-container-last-2{
		width:calc(100% - 10px);
		float: none;
		margin-left:5px;
		margin-right:5px;
		margin-bottom:20px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		overflow:hidden;
	}
	
}
